*{
   padding: 0px;
   margin: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

li{
   width: 98%;
   block-size: auto;
   margin-left: 2%;
   height: 55px;
}

.contenedor_menu ul{
   list-style: none;
}

.contenedor_menu{
   position: fixed;
   width: 54px;
   height: 100%;
   background: #2C4E77;
   overflow: hidden;
   font-size: 0.8em;
}

.contenedor_menu:hover{
   width: 250px;
}

.contenedor_menu:hover li{
   height: 100%;
}

.texto{
   color: rgb(239, 239, 247);
   margin-left: 55px;
   margin-top: -25px;
}

.texto > a{
   color:white;
}

.iconos{
   color:rgb(231, 226, 226);
   margin-left: 5px;
}

.contenedor_menu .menu .icono.izquierdo{
   margin-top: 0px;
   margin-left: 12px;
}

.contenedor_menu:hover ul.submenu {
   width: 100%;
   height: 0%;
   font-size: 0.5em;
}

ul.submenu li.lisubmenu a{
    width: 100%;
    display: inline-block;
    cursor: pointer;
    cursor: hand; 
}
 

li.submenu{
    padding:  2px;
}

.pantalla_central{
   margin: 0% 0% 0% 55px;
   position: static;
   width: 100%;
   height: 100%;
}

.logorfd{
  margin: 0px 0 -48px -6%;
  height: 76px;
}

/*DAR FORMATO A LOS ICONOS*/
li img{
   width: 32px;
   height: 32px;
   margin-top: -2px;
   margin-left: 5px;
}

.logotipoMenu{
   width: 50px;
   height: 50px;
   padding: 4px;
}

/*MODIFICACIONES DE ESTILOS CSS CUANDO SE PASA EL MOUSE*/
.contenedor_menu .menu li:hover {
  background: #3D618D;
  font-weight: bold;
}

.contenedor_menu:hover .menu li.activado .submenu{
   width: 100%;
   font-family: sans-serif;
   font-size: 0.9em;
   background: #FDCF5F;
   cursor:pointer; cursor: hand;
   display: block;
 }

 
 li.activado  li.lisubmenu{
    background: #030d3c;
    color: white;
    padding: 1px;
 }
 
 .contenedor_menu .menu li.activado ul.submenu{
    font-family: sans-serif;
    font-size: 0.9em;
    display: none;
    background: blue;
 }
 
 .contenedor_menu .menu .submenu li:hover {
    background:rgb(181, 231, 238);
    font-weight: bold;
    color:#030d3c;
 }
 
 


 /*MODIFICAR EL COLOR DEL ICONO*/
 .contenedor_menu .menu li.activado:hover img.icono.izquierdo{
    transform:scale(1.4);
    font-size: 1.4em;
    margin-top: 4px;
 }
 
 .contenedor_menu .menu li.activado:hover i.icono.derecho{
    color: #0ceedb;
 }
 
 .pie_radar2{
   position: static;
   background: #141458;
   width: 95.6%;
   height: 200px;
 }
 
 
 #iframeID {
    background: #030d3c;
    margin-top: -120px;
 }
 
 .footerLogo{
   width: 150px;
   height: 150px;
   margin-left: 30%;
   margin-top: 4%;
 }
 
 .textoFooter{
   font-size: .9em;
   margin-left: 125px;
   margin-top: -25px;
 }
 
 .contenedorFooter{
    position: static;
    height: 200px;
    color: white;
 }
 
 .contenidoRFD{
   margin-top: 20px;
 }
 
 .redesSociales {
   margin: 15% 7% 0% 0%;
   margin-left: 20px;
 }
 
 
 .img1{
   margin-left: -265px;
 }
 
 .img2{
   margin-left: -258px;
 }
 
 .img3{
   margin-left: -60px;
 }
 
 .ele1{
    background: red;
     width: 95.6%;
     height: 45px;
     position: fixed;
 }
 
 .ele2{
    background: #0400ff;
    width: 84.1%;
    height: 50px;
    margin-top: 0px;
    display: none;
 }
 
 .contenedor_menu:hover div.ele1{
    background: grey;
     position: absolute;
     margin-top: -289px;
     transform: rotate(0deg) scale(0.8) translate(100px);
 }
 

img.imgPopup{
    margin-top: -15px;
}




/*CREAR EL MENU DE ARCORDION PARA EL SUBMENU LATERAL*/
div.subMenuLateral{
   height: 305px;
   margin-left: 3px;
}

.subMenuLateral ul.submenu1{
   background: #2C4E77;
   width: 100%;
   margin-left: -3px;
}

.icono1.izquierdo{
    position: inherit;
    margin-left: 24%;
}

.contenedor_menu:hover .icono1.izquierdo{
    position: inherit;
    margin-left: 4%;
    cursor:pointer; cursor: hand;
}

/*.icono1.derecho{
   position: absolute;
   margin-top: -40px;
   font-size: 2em;
   margin-left: 84%;
   color:white;
   float: left;
}

.subMenuLateral ul li.activo1{
   background: #141458;
   height: 40px;
   
}

p.texto1{
   display: flex;
   margin-top: -20px;
   margin-left:50px;
   color:white;
}*/

.contenedor_menu:hover .icono1.derecho{
      position: absolute;
      margin-top: -40px;
      font-size: 2em;
      margin-left: 80%;
      color:white;
      float: left;
      display: block;
      cursor:pointer; cursor: hand;
}

.icono1.derecho{
   display: none;
}

.subMenuLateral ul li.activo1{
   background: #141458;
   height: 40px;
}

p.texto1{
   display: none;
}

.contenedor_menu:hover p.texto1 {
   display: flex;
   margin-top: -23px;
   margin-left: 50px;
   color: white;
   cursor:pointer; cursor: hand;
}

/*DESAPARECE EL SUB MENÚ CUANDO SE QUITAN DEL MENÚ*/
ul.subItems {
   display: none;
   font-size: 0em;
}

/*MUESTRA EL TEXTO CON EL HOVER DEL CONTENEDOR PRINCIPAL*/
.contenedor_menu:hover li.activado1 ul.subItems{
   font-size: 0.9em;
   background:#FDCF5F;
}

.contenedor_menu:hover li.activado1 li{
   font-size: 1.1em;
    background: rgba(3, 13, 60, 1);
    color: white;
    height: 18px;
    margin-top: -1px;
}

li.activado1 li.lisubmenu1:hover{
   background: #b5e7ee;
   color:black;
   cursor:pointer; cursor: hand;
}

li.activado1 li.lisubmenu1 a{
   width: 100%;
    height: 100%;
    /*background: blue;*/
    display: block;
}




/*TEXTO INICIO*/
.contenedor_menu:hover .textoInicio{
    display: inherit;
    font-size: 1.2em;
    color: white;
    text-align: center;
    width: 100%;
}

.textoInicio{ 
   display: none;
}

/*BLOQUEAR LOS SUBAMBITOS PARA QUE EL USUARIO NO PUEDA INGRESAR*/
.txtBloqueado{
   opacity: 0.5;
   
}

li.activado:hover .txtBloqueado{
   background: grey;
}


.contenedor_menu:hover li.activado1 ul.subTexto {
   font-size: 0.9em;
   background:grey;
}
 

.iframeCerrar{
    background: #030d3c;
    margin-top: -120px;
    margin-left: 0px;
    position: absolute;
}

#control{
    color: red;
}



 
 /*PARA DISPOSITIVOS*/
 @media screen and (max-width:240px) {
   
 }
 
 @media screen and (max-width:640px) and (min-width:240px){
   body{
      width: 100%;
      height: 100%;
   }
 
 }
 
 @media screen and (max-width:1024px) {
   
   
 }
 
 @media screen and (max-width:1024px) and (min-width:640px) {
   body{
      width: 100%;
      height: 100%;
   }
 
   .pag_inicial {
      margin-left: -150px;
  }
 
   .footerLogo{
      width: 100px;
      height: 100px;
      margin-left: 5%;
      margin-top: 9%;
    }
   
   .textoFooter{
      font-size: 0.7em;
   }
 
   .redesSociales {
      margin: 35% 7% 0% 0%;
      margin-left: 10px;
   }
   
   .img1{
      margin-left: -100px;
   }
   
   .img2{
      margin-left: -56px;
   }
   
   .img3{
      margin-left: -8px;
   }
 
   .footerLogo{
      width: 100px;
      height: 100px;
      margin-left: 50%;
      margin-top: 18%;
    }
 
 
 
 }